In [1]:
import pandas as pd
import sqlite3
import csv
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
csv_ap = './datacsv/apartments.csv'
db = './datadb/apartments.db'

In [13]:
conn = sqlite3.connect(db)
cursor = conn.cursor()

In [6]:
with open(csv_ap, "r") as csv_file:
    csv_reader = csv.reader(csv_file)
    headers = next(csv_reader)
    create_table = f"CREATE TABLE IF NOT EXISTS tabela ({headers[0]} TEXT, {headers[1]} TEXT, {headers[2]} TEXT, {headers[3]} FLOAT, {headers[4]} INTEGER, {headers[5]} INTEGER, {headers[6]} INTEGER, {headers[7]} INTEGER, {headers[8]} FLOAT, {headers[9]} FLOAT, {headers[10]} FLOAT, {headers[11]} INTEGER, {headers[12]} FLOAT, {headers[13]} FLOAT, {headers[14]} FLOAT, {headers[15]} FLOAT, {headers[16]} FLOAT, {headers[17]} FLOAT, {headers[18]} FLOAT, {headers[19]} TEXT, {headers[20]} TEXT, {headers[21]} TEXT, {headers[22]} TEXT, {headers[23]} TEXT, {headers[24]} TEXT, {headers[25]} TEXT, {headers[26]} TEXT, {headers[27]} FLOAT);"
    cursor.execute(create_table)
    for row in csv_reader:
        insert_query = f"INSERT INTO tabela VALUES ({', '.join(['?' for _ in row])});"
        cursor.execute(insert_query,row)
conn.commit()

In [3]:
df = pd.read_csv(csv_ap)

In [4]:
conn.close()

NameError: name 'conn' is not defined

In [5]:
df.sample(10)

,,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,restaurantDistance,collegeDistance,pharmacyDistance,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
d8c1e667cde9a0331ea266980d35c182,bydgoszcz,blockOfFlats,55.40,3.0,7.0,11.0,1980.0,53.124984,18.049752,3.29,21.0,...,0.155,condominium,concreteSlab,NaN,no,yes,yes,no,yes,375000
893185446be6968f1aa585679b338d83,katowice,blockOfFlats,38.00,2.0,4.0,4.0,NaN,50.205564,18.968699,6.99,0.0,...,2.183,condominium,concreteSlab,premium,no,yes,no,no,yes,319900
1a61eac797cca250bdff3c72be7adb00,gdansk,blockOfFlats,56.00,2.0,3.0,4.0,2021.0,54.323410,18.619320,3.68,5.0,...,0.215,condominium,NaN,NaN,no,no,yes,no,no,790000
b50ca75677ef5bccb7c680680f33b4f3,rzeszow,NaN,82.89,4.0,9.0,10.0,NaN,50.041514,21.985279,1.51,13.0,...,0.393,cooperative,concreteSlab,premium,yes,yes,yes,no,yes,645000
d869804df2192d5ad684d44b573f736d,poznan,NaN,53.00,2.0,3.0,5.0,2024.0,52.398697,16.962315,2.08,15.0,...,0.069,condominium,NaN,NaN,no,no,yes,no,no,522095
8e85fd6813f5d9786da60220dff24d87,warszawa,blockOfFlats,47.00,3.0,7.0,10.0,1968.0,52.234920,20.972800,2.12,41.0,...,0.076,condominium,NaN,NaN,no,no,yes,no,no,787000
ed8daf0b46a3b5cc5ce6af6a79863eb5,warszawa,NaN,40.53,2.0,2.0,6.0,2024.0,52.225040,21.104780,6.93,13.0,...,0.052,condominium,NaN,NaN,no,yes,no,no,no,670000
3604909a9207679f398c9b282eee6173,warszawa,tenement,51.14,2.0,3.0,4.0,1960.0,52.199230,21.012480,3.66,28.0,...,0.110,condominium,brick,NaN,no,yes,no,no,yes,999000
c7543df367bc00efd7c583795e062085,lublin,tenement,64.40,2.0,2.0,3.0,1900.0,51.245866,22.574293,0.50,25.0,...,0.403,condominium,brick,premium,no,no,no,no,no,647900
cf2f66df5e1232df48fcfe1d5a45f210,warszawa,tenement,68.03,3.0,2.0,5.0,1901.0,52.222042,21.012141,1.22,99.0,...,0.159,condominium,brick,NaN,no,no,no,no,no,1850000

In [8]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 0 entries
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    0 non-null      object
 1   city                  0 non-null      float64
 2   type                  0 non-null      float64
 3   squareMeters          0 non-null      float64
 4   rooms                 0 non-null      float64
 5   floor                 0 non-null      float64
 6   floorCount            0 non-null      float64
 7   buildYear             0 non-null      float64
 8   latitude              0 non-null      float64
 9   longitude             0 non-null      float64
 10  centreDistance        0 non-null      float64
 11  poiCount              0 non-null      float64
 12  schoolDistance        0 non-null      float64
 13  clinicDistance        0 non-null      float64
 14  postOfficeDistance    0 non-null      float64
 15  kindergartenDistance  0 non-null      float64
 16  restaurantDistance    0 non-null      float64
 17  collegeDistance       0 non-null      object
 18  pharmacyDistance      0 non-null      object
 19  condition             0 non-null      object
 20  hasParkingSpace       0 non-null      object
 21  hasBalcony            0 non-null      object
 22  hasElevator           0 non-null      object
 23  hasSecurity           0 non-null      object
 24  hasStorageRoom        0 non-null      object
 25  price                 0 non-null      int64
dtypes: float64(16), int64(1), object(9)
memory usage: 638.0+ KB

(0, 26)

In [7]:
df = df[df['city'] == 'krakow']

In [9]:
df.describe()

,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,price
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN