In [13]:
import pandas as pd
import sqlite3
import csv
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
csv_ap = './datacsv/apartments.csv'
db = './datadb/apartments.db'
print(type(csv_ap))

<class 'str'>

In [3]:
conn = sqlite3.connect(db)
cursor = conn.cursor()

In [7]:
with open(csv_ap, "r") as csv_file:
    csv_reader = csv.reader(csv_file)
    headers = next(csv_reader)
    create_table = f"CREATE TABLE IF NOT EXISTS tabela ({', '.join([f'{header} TEXT' for header in headers])});"
    cursor.execute(create_table)
    for row in csv_reader:
        insert_query = f"INSERT INTO tabela VALUES ({', '.join(['?' for _ in row])});"
        cursor.execute(insert_query,row)
conn.commit()

In [8]:
df = pd.read_sql_query("SELECT * FROM tabela", conn)

                                 id      city               type squareMeters  \
0  a01d82c9529f98a54d64b9e061c9a73b  szczecin  apartmentBuilding        105.0
1  8373aa373dbc3fe7ca3b7434166b8766  szczecin           tenement        73.02
2  7d0c31d5409caab173571cce3dcdf702  szczecin       blockOfFlats        68.61
3  3eaa36a59b9354206703b5f6b2f2ff1d  szczecin       blockOfFlats         42.0
4  027b30cebbc49faf3094421b741ddd56  szczecin       blockOfFlats         45.5

  rooms floor floorCount buildYear          latitude         longitude  ...  \
0   4.0   3.0        4.0    2016.0       53.43150295        14.4858204  ...
1   3.0   2.0        3.0                 53.45222222       14.55333333  ...
2   3.0   4.0        4.0    1997.0  53.4562131879767  14.5832223504052  ...
3   2.0   1.0        3.0                 53.46805556       14.53833333  ...
4   2.0   4.0        4.0    1960.0         53.438165           14.5632  ...

  pharmacyDistance    ownership buildingMaterial condition hasParkingSpace  \
0            0.335  condominium            brick   premium              no
1             0.28  condominium            brick                        no
2            0.304  condominium            brick                        no
3            0.257  condominium                                         no
4            0.273  condominium     concreteSlab       low              no

  hasBalcony hasElevator hasSecurity hasStorageRoom    price
0        yes         yes          no             no  1199999
1         no          no          no             no   650000
2        yes          no          no            yes   590000
3        yes          no          no             no   584999
4         no          no          no            yes   363000

[5 rows x 28 columns]

In [10]:
conn.close()

In [11]:
df.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,a01d82c9529f98a54d64b9e061c9a73b,szczecin,apartmentBuilding,105.0,4.0,3.0,4.0,2016.0,53.43150295,14.4858204,...,0.335,condominium,brick,premium,no,yes,yes,no,no,1199999
1,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,,53.45222222,14.55333333,...,0.28,condominium,brick,,no,no,no,no,no,650000
2,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,53.4562131879767,14.5832223504052,...,0.304,condominium,brick,,no,yes,no,no,yes,590000
3,3eaa36a59b9354206703b5f6b2f2ff1d,szczecin,blockOfFlats,42.0,2.0,1.0,3.0,,53.46805556,14.53833333,...,0.257,condominium,,,no,yes,no,no,no,584999
4,027b30cebbc49faf3094421b741ddd56,szczecin,blockOfFlats,45.5,2.0,4.0,4.0,1960.0,53.438165,14.5632,...,0.273,condominium,concreteSlab,low,no,no,no,no,yes,363000

In [15]:
df['price'].describe()

count      15521
unique      2472
top       599000
freq         234
Name: price, dtype: object