In [1]:
import pandas as pd
import sqlite3
import csv

In [2]:
csv_bigmac = "./datacsv/BigMac.csv"
csv_inflation = "./datacsv/Inflation.csv"
db_bigmac = "./datadb/bigMac.db"
db_inflation = "./datadb/inflation.db"

In [3]:
conn = sqlite3.connect(db_bigmac)
cursor = conn.cursor()

In [4]:
with open(csv_bigmac, "r") as csv_file:
    csv_reader = csv.reader(csv_file)
    headers = next(csv_reader)
    create_table_query = f"CREATE TABLE IF NOT EXISTS tabela ({', '.join([f'{header} TEXT' for header in headers])});"
    cursor.execute(create_table_query)
    for row in csv_reader:
        insert_query = f"INSERT INTO tabela VALUES ({', '.join(['?' for _ in row])});"
        cursor.execute(insert_query, row)

conn.commit()

In [5]:
df_bigmac = pd.read_sql_query("SELECT * FROM tabela", conn)

In [6]:
print(df_bigmac.head())

  TEXT        date local_price         dollar_ex      dollar_price  \
0    0  2022-07-31         6.7  1.44843568945539  4.62567999999999
1    1  2022-01-31         6.4  1.41934568164076  4.50912000000001
2    2  2021-07-31        6.55  1.36658694909464  4.79296249999999
3    3  2021-01-31        6.48  1.29996750081248           4.98474
4    4  2020-07-31        6.55  1.43061516452074  4.57845000000001

           dollar_ppp dollar_valuation dollar_adj_valuation  \
0  1.3009708737864067          -10.181               -8.689
1   1.101549053356282           -22.39              -16.259
2   1.159292035398231          -15.169               -8.072
3  1.1448763250883396            -11.9                 -4.3
4   1.147110332749561          -19.817                -15.5

  euro_adj_valuation sterling_adj_valuation   yen_adj_valuation  \
0            -12.345                 -2.724   58.47599999999999
1            -19.096                -15.235  20.316000000000003
2            -15.808                 -9.002              21.575
3              -15.0                    1.6                18.3
4              -17.2                   -5.2                 8.1

    yuan_adj_valuation region
0                5.879    AUS
1              -20.061    AUS
2               -7.724    AUS
3  -6.6000000000000005    AUS
4                 -9.6    AUS

In [7]:
conn.close()

In [8]:
conn = sqlite3.connect(db_inflation)
cursor = conn.cursor()

In [9]:
with open(csv_inflation, "r") as csv_file:
    csv_reader = csv.reader(csv_file)
    headers = next(csv_reader)
    create_table_query = f"CREATE TABLE IF NOT EXISTS tabela ({', '.join([f'{header} TEXT' for header in headers])});"
    cursor.execute(create_table_query)
    for row in csv_reader:
        insert_query = f"INSERT INTO tabela VALUES ({', '.join(['?' for _ in row])});"
        cursor.execute(insert_query, row)

conn.commit()

In [10]:
df_inflation = pd.read_sql_query("SELECT * FROM tabela",conn)

In [11]:
print(df_inflation.head())

  TEXT location     time             value
0    0      AUT  1999-Q4  1.13603909863917
1    1      AUT  2000-Q1  1.77751142157447
2    2      AUT  2000-Q2  1.87364387378678
3    3      AUT  2000-Q3  2.04298291689467
4    4      AUT  2000-Q4  2.13187810846334

In [12]:
conn.close()

In [15]:
df_bigmac.drop(columns=['yuan_adj_valuation','yen_adj_valuation','sterling_adj_valuation','euro_adj_valuation','dollar_adj_valuation','dollar_valuation','TEXT'],inplace=True)
df_inflation.drop(columns=['TEXT'],inplace=True)

         date local_price         dollar_ex      dollar_price  \
0  2022-07-31         6.7  1.44843568945539  4.62567999999999
1  2022-01-31         6.4  1.41934568164076  4.50912000000001
2  2021-07-31        6.55  1.36658694909464  4.79296249999999
3  2021-01-31        6.48  1.29996750081248           4.98474
4  2020-07-31        6.55  1.43061516452074  4.57845000000001

           dollar_ppp region
0  1.3009708737864067    AUS
1   1.101549053356282    AUS
2   1.159292035398231    AUS
3  1.1448763250883396    AUS
4   1.147110332749561    AUS
  location     time             value
0      AUT  1999-Q4  1.13603909863917
1      AUT  2000-Q1  1.77751142157447
2      AUT  2000-Q2  1.87364387378678
3      AUT  2000-Q3  2.04298291689467
4      AUT  2000-Q4  2.13187810846334